<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /alarmas/mkt_cliente/bitacora-equipo-ci/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /alarmas/mkt_cliente/bitacora-equipo-ci/index.html [L]
</IfModule>
